<!DOCTYPE html>
<meta charset="utf-8">

<html>
<head>
<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body>

<script src="javascripts/d3.v3.min.js"></script>
<script src="javascripts/d3.tip.v0.6.3.js"></script>

<script src="javascripts/draw_SVM.js" ></script>

</body>
</html>
