<!DOCTYPE html>
<meta charset="utf-8">

<html>
<head>
<link rel="stylesheet" type="text/css" href="stylesheets/style.css">

<!--source : http://bl.ocks.org/bbest/2de0e25d4840c68f2db1 -->
<script src="javascripts/d3.v3.min.js"></script>
<script src="javascripts/d3.tip.v0.6.3.js"></script>

</head>
<body>

<h1> Welcome to Recommandation Engine using SVM Master Class Learning </h1>

<p> This is a final project for CS383 AI class</p>
<p> Group 6: Yong Liang, Sam Fox

<br>
<br>
<p> This is the display pannel for the restaurant recommandation. </p>

<hr>
<p>
<br> <b>This featured restaurant is called applebees</b>
</p>

<script src="javascripts/draw.js"></script>

<hr>

<p> "dataset is still in under construction "  </p>

</body>
</html>