<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Recommendation Engine with SVM and MCL</title>

    <!-- Bootstrap core CSS -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="stylesheets/dashboard.css" rel="stylesheet">
	<link href="stylesheets/style.css" rel="stylesheet">

    <!--source : http://bl.ocks.org/bbest/2de0e25d4840c68f2db1 -->
<script src="javascripts/d3.v3.min.js"></script>
<script src="javascripts/d3.tip.v0.6.3.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->



  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
		<a class="navbar-brand" href="/">Group6 Recommendation Engine</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Dashboard</a></li>
            <li><a href="/aboutus">About Us</a></li>
		<li><a href="template">template</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="/">Overview <span class="sr-only">(current)</span></a></li>
            <li><a href="/frames/iframe_map">google map</a></li>
            <li><a href="/topstar">TopStar Engine</a></li>
	    <li><a href="/euclidean">Euclidean Distance Engine</a></li>
            <li><a href="/pearsons">Pearsons Corrolation Engine</a></li>
	    <li><a href="/SVM">SVM Engine</a></li>
            <li><a href="/sample_data">Sample Data</a></li>
          </ul>
          
          
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
              <h3 class="page-header"> Recommandation Engine using Difference Scoring Systems </h3>

              <p> This is a final project for CS383 AI class
 		<br>Group 6: Yong Liang, Sam Fox
		<br>
		<br> This webpage is created with Node.js Express with Bootstrap and D3 implementation
		<br> The query/data processing is through Python
		<br> The Dataset a json file from Yelp! 
		<hr>
		<b>Goals from this project:</b>
		<br> - Compare difference recommendation scoring systems
		<br> <a href="https://docs.google.com/document/d/1vqG_RqhbBbI843v2Z9G0k1RDPwHGLS1W0qP_L39VWYk/edit"> Full research paper here</a>
		
		<br>
		<br><b>On the left menu</b>
		<ul style="list-style-type:circle">

           <li><a href="/topstar">TopStar - Simple score based on star rating</a></li>
	    <li><a href="/euclidean">Euclidean Distance - Ambience difference ratio score </a></li>
            <li><a href="/pearsons">Pearsons Corrolation - Corrolation score based on simularities</a></li>
	    <li><a href="/SVM">SVM Engine - Categorize 1 and 0 for recommendations</a></li>
            <li><a href="/sample_data">Sample Data - Display data format and sample extract</a></li>

		</ul>
		</p>
		<br>
		<p>
		We believe each users would have different preference weights, for different ambience type of restaurant. For example, someone might have a higher preference for "touristy" places, and would give a higher score to those that fit the profile.
		</p>

		<div class="row placeholders">
            
            	<div class="col-xs-6 col-sm-6 placeholder">
              		Weights on user's ambience preference
              	<iframe id="single" src="iframe" width="420px" height="420px" scrolling="no">
              	</iframe>
            	</div>

 
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  

</body></html>
