<!DOCTYPE html>
<meta charset="utf-8">

<html>
<head>
<link rel="stylesheet" type="text/css" href="stylesheets/style.css">

<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>

</head>
<body>

<h1> Welcome to Recommandation Engine using SVM Master Class Learning </h1>

<p> This is a final project for CS383 AI class</p>
<p> Group 6: Yong Liang, Sam Fox

<br>
<br>
<p> This is the display pannel for the restaurant recommandation. </p>

<script src="javascripts/draw.js"></script>


</body>
</html>